services:
    frontend:
      build: ./frontend
      container_name: frontend_app
      ports:
        - "3000:80"
      
    backend:
      build: ./backend
      container_name: backend_app
      ports:
        - "4000:4000"
      env_file:
        - ./backend/.env
      depends_on:
        - db    
      

    db:
      image: mysql:8
      container_name: db_app
      ports:
        - "3306:3306"
      environment:
         MYSQL_ROOT_PASSWORD: root
         MYSQL_DATABASE: app_db
      volumes:
        - db_data:/var/lib/mysql  
      restart: always

volumes:
  db_data:          








      